body {
    background-image: url("http://www.guanchaoge.com/data/out/78/56583991-kiwi-wallpapers.jpeg");
    background-size: 1400px 1200px;
    background-repeat: no-repeat;
}

#langChangeh1 {
    color: white;
}

